<!DOCTYPE html>
<head>
	<title>Mad Libs!</title>
	<link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
	<h1>MadLibs!</h1>
	<form role="form" action="/new/madlib">
		<div class="form-group">
			<label for="person">Name of a friend:</label>
			<input type="text" name="person" class="form-control">
		</div>
		<div class="form-group">
			<label for="adjective">Adjective</label>
			<input type="text" name="adjective" class="form-control">
		</div>
		<input type="submit" class="btn btn-primary" value="Make Madlib!">
		<button class="btn btn-danger" id="AJAX-button">Make with AJAX</button>
	</form>

	{% if name %}
		<div id="madlib-result">
			<h3>{{ name }} is in a {{ adjective }} place.</h3>
		</div>
	{% endif %}


	<script>
	// on click of AJAX-button:
		$("#AJAX-button").click(function(e) {
			// prevent default (which is to GO to url)
			e.preventDefault();
			// GET request (via HTTP) sent to localhost:5000/new/madlib
			// why don't I need to serialize here? is that optional?
			$.get(
				"new/madlib",
				// success callback: insert response into madlib-result div
				// including replacing templating brackets with vars
				function(response) {
					$("#madlib-result").text(response)
				}
			);
		});
	</script>
</body>
</html>